- name: Terragrunt bootstrap configuration
  type: file
  src: provisioning/terragrunt/bootstrap/terragrunt.hcl.j2
  dest: provisioning/terragrunt/bootstrap/terragrunt.hcl

- name: Terragrunt bootstrap configuration
  type: file
  src: provisioning/terragrunt/hosts/terragrunt.hcl.j2
  dest: provisioning/terragrunt/hosts/terragrunt.hcl
