dns_server_name: \var{context.network_name}
dns_server_admin: admin@\var{context.network_domain}
dns_upstream_server: 8.8.8.8

dns_domains:
  - domain: \var{context.network_name}
    hostname: dns

dns_extra_servers:
  - ip: "{{ hostvars['attacker_0'].ansible_default_ipv4.address }}"
    domain: "{{ hostvars['attacker_0'].dnsteal_domain }}"
